

html {
  box-sizing: border-box;
  margin: 0 auto;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
  text-align: center;
  text-transform: uppercase;
  color: 888;
  padding-top: 50px;
}

.big-box {
  height: 700px;
  width: 100%;
  background: skyblue;
  margin-top: 20px;
  margin-bottom: 20px;
}

.position {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.scrollReveal {
  width: 30%;
  height: 200px;
  background: lightgreen;
  margin-top: 20px;
  margin-bottom: 20px;
	opacity: 0;
	transition: .8s all ease-in-out;
}
